@font-face {
  font-family: 'data';
  src: url('../fonts/data.eot?51835013');
  src: url('../fonts/data.eot?51835013#iefix') format('embedded-opentype'),
       url('../fonts/data.woff2?51835013') format('woff2'),
       url('../fonts/data.woff?51835013') format('woff'),
       url('../fonts/data.ttf?51835013') format('truetype'),
       url('../fonts/data.svg?51835013#data') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'data';
    src: url('../font/data.svg?51835013#data') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "data";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-asterisk:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-glyph:before { content: '\f301'; } /* '' */
.icon-glyph-1:before { content: '\f302'; } /* '' */
.icon-glyph-2:before { content: '\f303'; } /* '' */
.icon-glyph-3:before { content: '\f304'; } /* '' */
.icon-glyph-5:before { content: '\f305'; } /* '' */
.icon-glyph-4:before { content: '\f306'; } /* '' */
.icon-glyph-6:before { content: '\f307'; } /* '' */
.icon-glyph-7:before { content: '\f308'; } /* '' */
.icon-glyph-10:before { content: '\f309'; } /* '' */
.icon-glyph-9:before { content: '\f310'; } /* '' */
.icon-glyph-11:before { content: '\f311'; } /* '' */
.icon-glyph-8:before { content: '\f312'; } /* '' */