button {
	outline: none !important;
}
.btn-mainmenu {
	margin-right: 8px;
	margin-top: -4px;
	padding-top: 7px;
}
.material-info {
	color: #0965c1 !important;
}
.charttab {
	color: #0965c1 !important;
	position: relative;
	padding-right: 30px;
}
.charttab i {
	font-size: 28px;
	position: absolute;
	right:0;
}
.pt-tab a i {
	font-size: 25px;
	margin-left: 9px;
}
.pt-tab .dropdown-item {
	/*padding-left: 35px !important;*/
	padding: 5px 10px 5px 0 !important;
	padding-right: 10px;
}
.pt-tab .dropdown-item a i {
	font-size: 0.9em;
}
.text-muted {
	color: #aaa;
}
/*.pt-tree-node:hover .pt-tree-node-content {
	background-color: #e2f2fb !important;
	color: #0965c1;
}
.pt-active {
	background-color: #e2f2fb !important;
}*/
.pt-active.pt-tree-node:hover .pt-tree-node-content {
	/*background: rgba(14, 144, 224, 0.3) !important;
	background: rgba(0, 0, 0, 0.1) !important;
	background: #b7def6 !important;*/
}
.pt-tag.pt-minimal.pt-intent-primary {
	
}
.hh:hover {
	background: #e2f2fb !important;
}
.hh:hover .pt-category {
	background: #fff !important;
}
.hh:hover .pt-tag.pt-minimal.pt-intent-primary {
	/*background: rgba(14, 144, 224, 0.3) !important;
	background: rgba(0, 0, 0, 0.1) !important;*/
	background: #b7def6 !important;
}
.facet {
	padding:0 !important;
	background: none !important;
	text-transform: none !important;
	border: 1px solid transparent;
}
.facet:hover .new, .active.facet .new,  .active.facet {
	background: #f7a42c !important;
}
.new {
	padding: 10px 5px 7px 5px;
	min-height: 40px;
	background: #0549ab;
	border-radius: 3px;
}
a.facet > .new > span {
    /* border-bottom: 5px solid transparent; */
    text-align: ;
    display: block;
    margin: 0 15px;
    line-height: 16px;
    min-height: 33px;
}
.active.facet:hover .new {
	/*background: rgba(14, 144, 224, 0.3) !important;
	background: rgba(0, 0, 0, 0.1) !important;*/
}
.selected {
	/*background: #f1f1f1 !important;*/
	background: #e2f2fb !important;
	
}
.dd-btn {
    right: 19px !important;
    top: 8px !important;
}
.dd-btn.first {
	top: -10px !important;
}
.btn-link {
	color: #0965c1 !important;
}
.btn-mainmenu:hover .active2 {
	background: #e2f2fb !important;
}
.btn-mainmenu:hover .active2 .pff {
	/*background: rgba(14, 144, 224, 0.3) !important;
	background: rgba(0, 0, 0, 0.1) !important;*/
	background: #b7def6 !important;
	border-radius: 3px;
}
.btn-mainmenu a {
	padding:0 !important;
}
.pff {
	padding: 0 10px 7px;
}
.de-btn-default {
    background: #e2f2fb;
    color: #0965c1;
    min-width: 40px;
    min-height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-size: 16px;
    display: inline-block;
    border-radius: 3px;
    text-align: left;
}
.de-btn-default:hover, .de-btn-default.hover {
	background: #b7def6;
	color: #0965c1;
}
.de-btn-default i {
	    margin-right: 10px;
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    color: #0965c1;
    background-color: #e2f2fb !important;
    border: 1px solid transparent;
}
.btn-light:not(:disabled):not(.disabled).active:hover {
    color: #0965c1;
    background-color: #87c8f0 !important;
    border: 1px solid transparent;
}
.btn-light {
    color: #0965c1;
    background-color: #fff;
    border-color: #fff;
}
.btn-light:hover {
    color: #0965c1;
    background-color: #e2f2fb;
    border-color: #e2f2fb;
}
.form-control {
	font-size: 14px;
	line-height: 22px;
}
.pt-tag.pt-minimal.pt-intent-primary {
    background-color: #e2f2fb !important;
    color: #0965c1;
}
.pt-tag.pt-minimal.pt-intent-primary:hover {
    /*background: rgba(14, 144, 224, 0.3) !important;
	background: rgba(0, 0, 0, 0.1) !important;*/
	background: #b7def6 !important;
    color: #0965c1;
}
.pt-button.pt-minimal {
    color: #0965c1 !important;
}
.pt-button.pt-minimal:hover {
    background: #e2f2fb;
    color: #0965c1;
}
.pt-button .pt-icon, .pt-button .pt-icon-standard, .pt-button .pt-icon-large {
    margin-right: 7px;
    color: #0965c1;
}
.btn-primary {
    color: #fff;
    background-color: #0965c1;
    border-color: #0965c1;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0e90e0;
    border-color: #0e90e0;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0e90e0;
    border-color: #0e90e0;
}
.btn-link {
	color: #0965c1 !important;
    text-decoration: none !important;
}
.btn-link:hover, .btn-link:active {
    color: #0965c1 !important;
    text-decoration: none !important;
    background: #e2f2fb;
}
.code {
    color: inherit !important;
    border-radius: 3px;
    width: auto !important;
    text-align: left;
    display: inline-block !important;
    min-width: 20px;
    padding: 0px;
    font-size: 14px;
}
.code:after, .code-content:after {
	content: " - ";
}
.code-content {
    color: inherit !important;
    border-radius: 3px;
    display: inline-block !important;
    min-width: 20px;
    font-size: 15px;
}
@media screen and (max-width: 959px) {
	.btn-mainmenu {
		margin: 0px;
		padding: 0px;
		width:20%;
	}
	.btn-mainmenu .btn-block {
		padding:10px;
	}
	.btn-mainmenu.btn-block a {
		padding: 10px 0;
	}
	.pt-tab {
		width: 25%;
		margin: 0 !important;
		text-align: center;
	}
	.pt-tab[aria-selected="true"] {
		border-radius: 0;
		box-shadow: inset 0 0px 0 #106ba3;
	}
	.pt-tab[aria-selected="true"] a {
		border-radius: 0;
		position: relative;
	}
	.pt-tab[aria-selected="true"] a:after {
		position: absolute;
		bottom: -6px;
		left: 0;
		width: 100%;
		height: 3px;
		background: #106ba3;
		content: '';
		border-radius: 10px;
	}
	.page-inner-title {
		border: none !important;
	}
	.pt-tab-list {
		
	}
	.pt-tab {
		text-align: center;
		/*width: 33%;*/
		width: auto;
		border-radius: 3px;
	}
	.dd-btn {
		right: 0px !important;
		top: 0px !important;
		line-height: 44px !important;
		padding: 0;
	}
	.pff {
		/*padding: 0px 10px;*/
		padding: 0px 0px;
	}
	.actionbuttons .pt-button {
		line-height: 32px !important;
	}
	.charttab i {
		position: inherit;
		/* right: 0; */
	}
	
	.pt-tab a i {
		font-size: 25px;
		margin-left: 0px;
	}
	.actionlist .pt-tag.pt-large, .pt-large .pt-tag {
		line-height: 30px;
	}
}
@media screen and (max-width: 1279px) {
	.pt-tab a {
		padding: 10px;
		border-radius: 3px;
	}
}
.btn-mainmenu.show button {
	background: #e3e9ed;
}
.btn-mainmenu button, .btn-mainmenu a {
	padding-bottom: 7px;
	display: block;
}
.btn-mainmenu button i, .btn-mainmenu a i {
	/*color: #5c7080;*/
	font-size: 22px;
	padding-bottom: 6px;
}
.btn-mainmenu button span, .btn-mainmenu a span {
	line-height: 10px;
}
.filter-box h3 i {
    position: absolute;
    top: -4px;
    right: -8px;
    font-size: 24px;
    line-height: 1.5;
    color: #2973bd;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.active2 {
	/*background: #e3e9ed !important;*/
	background: #e2f2fb !important;
}
.active4 {
	/*background: #e3e9ed !important;*/
	background: #e2f2fb !important;
}
.active4:hover {
	background: #b7def6 !important;
}

/*.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}*/

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.btn-floating {
	position: relative;
	z-index: 1;
	display: inline-block;
	padding: 0;
	margin: 10px;
	overflow: hidden;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 50%;
	transition: all .2s ease-in-out;
	width: 47px;
	height: 47px
}

.btn-floating i {
	font-size: 1.25rem;
	line-height: 47px
}

.btn-floating i {
	display: inline-block;
	width: inherit;
	color: #fff;
	text-align: center
}

.btn-floating:hover {
	box-shadow: 0
}

.btn-floating:before {
	border-radius: 0
}

.btn-floating.btn-sm {
	width: 36.15385px;
	height: 36.15385px
}

.btn-floating.btn-sm i {
	font-size: .96154rem;
	line-height: 36.15385px
}






.dropdown,
.dropleft,
.dropright,
.dropup {
	position: relative
}

.dropdown-toggle {
	white-space: nowrap
}

.dropdown-toggle::after {
	display: inline-block;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-bottom: 0;
	border-left: .3em solid transparent
}

.dropdown-toggle:empty::after {
	margin-left: 0
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: .5rem 0;
	margin: .125rem 0 0;
	font-size: 1rem;
	color: #444;
	text-align: left;
	list-style: none;
	/*background-color: #f9f9f9;*/
	background-clip: padding-box;
	border: 0px solid rgba(0, 0, 0, .15);
	border-radius: .25rem;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-menu a {
	/*color: #444 !important;*/
	color: #0965c1 !important;
}

.dropdown-menu-left {
	right: auto;
	left: 0
}

.dropdown-menu-right {
	right: 0;
	left: auto
}

@media (min-width:600px) {
	.dropdown-menu-sm-left {
		right: auto;
		left: 0
	}
	.dropdown-menu-sm-right {
		right: 0;
		left: auto
	}
}

@media (min-width:960px) {
	.dropdown-menu-md-left {
		right: auto;
		left: 0
	}
	.dropdown-menu-md-right {
		right: 0;
		left: auto
	}
}

@media (min-width:1140px) {
	.dropdown-menu-lg-left {
		right: auto;
		left: 0
	}
	.dropdown-menu-lg-right {
		right: 0;
		left: auto
	}
}

@media (min-width:1280px) {
	.dropdown-menu-xl-left {
		right: auto;
		left: 0
	}
	.dropdown-menu-xl-right {
		right: 0;
		left: auto
	}
}

.dropup .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-top: 0;
	margin-bottom: .125rem
}

.dropup .dropdown-toggle::after {
	display: inline-block;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: 0;
	border-right: .3em solid transparent;
	border-bottom: .3em solid;
	border-left: .3em solid transparent
}

.dropup .dropdown-toggle:empty::after {
	margin-left: 0
}

.dropright .dropdown-menu {
	top: 0;
	right: auto;
	left: 100%;
	margin-top: 0;
	margin-left: .125rem
}

.dropright .dropdown-toggle::after {
	display: inline-block;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: .3em solid transparent;
	border-right: 0;
	border-bottom: .3em solid transparent;
	border-left: .3em solid
}

.dropright .dropdown-toggle:empty::after {
	margin-left: 0
}

.dropright .dropdown-toggle::after {
	vertical-align: 0
}

.dropleft .dropdown-menu {
	top: 0;
	right: 100%;
	left: auto;
	margin-top: 0;
	margin-right: .125rem
}

.dropleft .dropdown-toggle::after {
	display: inline-block;
	margin-left: .255em;
	vertical-align: .255em;
	content: ""
}

.dropleft .dropdown-toggle::after {
	display: none
}

.dropleft .dropdown-toggle::before {
	display: inline-block;
	margin-right: .255em;
	vertical-align: .255em;
	content: "";
	border-top: .3em solid transparent;
	border-right: .3em solid;
	border-bottom: .3em solid transparent
}

.dropleft .dropdown-toggle:empty::after {
	margin-left: 0
}

.dropleft .dropdown-toggle::before {
	vertical-align: 0
}

.dropdown-menu[x-placement^=bottom],
.dropdown-menu[x-placement^=left],
.dropdown-menu[x-placement^=right],
.dropdown-menu[x-placement^=top] {
	right: auto;
	bottom: auto
}

.dropdown-divider {
	height: 0;
	margin: .5rem 0;
	overflow: hidden;
	border-top: 1px solid #e9ecef
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: .25rem .25rem !important;
	clear: both;
	font-weight: 400;
	color: #222;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	font-size:14px;
}
.dropdown-item a .pff {
	padding: 2px 10px;
}
.dropdown-item.last {
	padding: .25rem !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
	color: #222;
	text-decoration: none;
	/*background-color: #f1f1f1 !important;*/
	background-color: #e2f2fb !important;
}
.dropdown-item.selected:hover {
	/*background: rgba(14, 144, 224, 0.5) !important;*/
	background: #b7def6 !important;
}

.dropdown-item.active,
.dropdown-item:active {
	color: #222;
	text-decoration: none;
	background-color: red;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
	color: #6c757d;
	pointer-events: none;
	background-color: transparent
}

.dropdown-menu.show {
	display: block;
	padding:5px;
}

.dropdown-header {
	display: block;
	padding: .5rem 1.5rem;
	margin-bottom: 0;
	font-size: .875rem;
	color: #6c757d;
	white-space: nowrap
}

.dropdown-item-text {
	display: block;
	padding: .25rem 1.5rem;
	color: #212529
}






.dropdown .dropdown-menu,
.dropleft .dropdown-menu,
.dropright .dropdown-menu,
.dropup .dropdown-menu {
	padding: 5px;
}

.dropdown .dropdown-menu.dropdown-primary .dropdown-item.active,
.dropdown .dropdown-menu.dropdown-primary .dropdown-item:active,
.dropdown .dropdown-menu.dropdown-primary .dropdown-item:hover,
.dropleft .dropdown-menu.dropdown-primary .dropdown-item.active,
.dropleft .dropdown-menu.dropdown-primary .dropdown-item:active,
.dropleft .dropdown-menu.dropdown-primary .dropdown-item:hover,
.dropright .dropdown-menu.dropdown-primary .dropdown-item.active,
.dropright .dropdown-menu.dropdown-primary .dropdown-item:active,
.dropright .dropdown-menu.dropdown-primary .dropdown-item:hover,
.dropup .dropdown-menu.dropdown-primary .dropdown-item.active,
.dropup .dropdown-menu.dropdown-primary .dropdown-item:active,
.dropup .dropdown-menu.dropdown-primary .dropdown-item:hover {
	background-color: #4285f4!important;
	border-radius: .125rem;
	box-shadow: none
}

.dropdown .dropdown-menu.dropdown-primary .dropdown-item.active.disabled,
.dropdown .dropdown-menu.dropdown-primary .dropdown-item:active.disabled,
.dropdown .dropdown-menu.dropdown-primary .dropdown-item:hover.disabled,
.dropleft .dropdown-menu.dropdown-primary .dropdown-item.active.disabled,
.dropleft .dropdown-menu.dropdown-primary .dropdown-item:active.disabled,
.dropleft .dropdown-menu.dropdown-primary .dropdown-item:hover.disabled,
.dropright .dropdown-menu.dropdown-primary .dropdown-item.active.disabled,
.dropright .dropdown-menu.dropdown-primary .dropdown-item:active.disabled,
.dropright .dropdown-menu.dropdown-primary .dropdown-item:hover.disabled,
.dropup .dropdown-menu.dropdown-primary .dropdown-item.active.disabled,
.dropup .dropdown-menu.dropdown-primary .dropdown-item:active.disabled,
.dropup .dropdown-menu.dropdown-primary .dropdown-item:hover.disabled {
	background-color: transparent;
	box-shadow: none
}

.dropdown .dropdown-menu.dropdown-danger .dropdown-item.active,
.dropdown .dropdown-menu.dropdown-danger .dropdown-item:active,
.dropdown .dropdown-menu.dropdown-danger .dropdown-item:hover,
.dropleft .dropdown-menu.dropdown-danger .dropdown-item.active,
.dropleft .dropdown-menu.dropdown-danger .dropdown-item:active,
.dropleft .dropdown-menu.dropdown-danger .dropdown-item:hover,
.dropright .dropdown-menu.dropdown-danger .dropdown-item.active,
.dropright .dropdown-menu.dropdown-danger .dropdown-item:active,
.dropright .dropdown-menu.dropdown-danger .dropdown-item:hover,
.dropup .dropdown-menu.dropdown-danger .dropdown-item.active,
.dropup .dropdown-menu.dropdown-danger .dropdown-item:active,
.dropup .dropdown-menu.dropdown-danger .dropdown-item:hover {
	background-color: #c00!important;
	border-radius: .125rem;
	box-shadow: none
}

.dropdown .dropdown-menu.dropdown-danger .dropdown-item.active.disabled,
.dropdown .dropdown-menu.dropdown-danger .dropdown-item:active.disabled,
.dropdown .dropdown-menu.dropdown-danger .dropdown-item:hover.disabled,
.dropleft .dropdown-menu.dropdown-danger .dropdown-item.active.disabled,
.dropleft .dropdown-menu.dropdown-danger .dropdown-item:active.disabled,
.dropleft .dropdown-menu.dropdown-danger .dropdown-item:hover.disabled,
.dropright .dropdown-menu.dropdown-danger .dropdown-item.active.disabled,
.dropright .dropdown-menu.dropdown-danger .dropdown-item:active.disabled,
.dropright .dropdown-menu.dropdown-danger .dropdown-item:hover.disabled,
.dropup .dropdown-menu.dropdown-danger .dropdown-item.active.disabled,
.dropup .dropdown-menu.dropdown-danger .dropdown-item:active.disabled,
.dropup .dropdown-menu.dropdown-danger .dropdown-item:hover.disabled {
	background-color: transparent;
	box-shadow: none
}

.dropdown .dropdown-menu.dropdown-default .dropdown-item.active,
.dropdown .dropdown-menu.dropdown-default .dropdown-item:active,
.dropdown .dropdown-menu.dropdown-default .dropdown-item:hover,
.dropleft .dropdown-menu.dropdown-default .dropdown-item.active,
.dropleft .dropdown-menu.dropdown-default .dropdown-item:active,
.dropleft .dropdown-menu.dropdown-default .dropdown-item:hover,
.dropright .dropdown-menu.dropdown-default .dropdown-item.active,
.dropright .dropdown-menu.dropdown-default .dropdown-item:active,
.dropright .dropdown-menu.dropdown-default .dropdown-item:hover,
.dropup .dropdown-menu.dropdown-default .dropdown-item.active,
.dropup .dropdown-menu.dropdown-default .dropdown-item:active,
.dropup .dropdown-menu.dropdown-default .dropdown-item:hover {
	background-color: #2bbbad!important;
	border-radius: .125rem;
	box-shadow: none
}

.dropdown .dropdown-menu.dropdown-default .dropdown-item.active.disabled,
.dropdown .dropdown-menu.dropdown-default .dropdown-item:active.disabled,
.dropdown .dropdown-menu.dropdown-default .dropdown-item:hover.disabled,
.dropleft .dropdown-menu.dropdown-default .dropdown-item.active.disabled,
.dropleft .dropdown-menu.dropdown-default .dropdown-item:active.disabled,
.dropleft .dropdown-menu.dropdown-default .dropdown-item:hover.disabled,
.dropright .dropdown-menu.dropdown-default .dropdown-item.active.disabled,
.dropright .dropdown-menu.dropdown-default .dropdown-item:active.disabled,
.dropright .dropdown-menu.dropdown-default .dropdown-item:hover.disabled,
.dropup .dropdown-menu.dropdown-default .dropdown-item.active.disabled,
.dropup .dropdown-menu.dropdown-default .dropdown-item:active.disabled,
.dropup .dropdown-menu.dropdown-default .dropdown-item:hover.disabled {
	background-color: transparent;
	box-shadow: none
}

.dropdown .dropdown-menu.dropdown-secondary .dropdown-item.active,
.dropdown .dropdown-menu.dropdown-secondary .dropdown-item:active,
.dropdown .dropdown-menu.dropdown-secondary .dropdown-item:hover,
.dropleft .dropdown-menu.dropdown-secondary .dropdown-item.active,
.dropleft .dropdown-menu.dropdown-secondary .dropdown-item:active,
.dropleft .dropdown-menu.dropdown-secondary .dropdown-item:hover,
.dropright .dropdown-menu.dropdown-secondary .dropdown-item.active,
.dropright .dropdown-menu.dropdown-secondary .dropdown-item:active,
.dropright .dropdown-menu.dropdown-secondary .dropdown-item:hover,
.dropup .dropdown-menu.dropdown-secondary .dropdown-item.active,
.dropup .dropdown-menu.dropdown-secondary .dropdown-item:active,
.dropup .dropdown-menu.dropdown-secondary .dropdown-item:hover {
	background-color: #a6c!important;
	border-radius: .125rem;
	box-shadow: none
}

.dropdown .dropdown-menu.dropdown-secondary .dropdown-item.active.disabled,
.dropdown .dropdown-menu.dropdown-secondary .dropdown-item:active.disabled,
.dropdown .dropdown-menu.dropdown-secondary .dropdown-item:hover.disabled,
.dropleft .dropdown-menu.dropdown-secondary .dropdown-item.active.disabled,
.dropleft .dropdown-menu.dropdown-secondary .dropdown-item:active.disabled,
.dropleft .dropdown-menu.dropdown-secondary .dropdown-item:hover.disabled,
.dropright .dropdown-menu.dropdown-secondary .dropdown-item.active.disabled,
.dropright .dropdown-menu.dropdown-secondary .dropdown-item:active.disabled,
.dropright .dropdown-menu.dropdown-secondary .dropdown-item:hover.disabled,
.dropup .dropdown-menu.dropdown-secondary .dropdown-item.active.disabled,
.dropup .dropdown-menu.dropdown-secondary .dropdown-item:active.disabled,
.dropup .dropdown-menu.dropdown-secondary .dropdown-item:hover.disabled {
	background-color: transparent;
	box-shadow: none
}

.dropdown .dropdown-menu.dropdown-success .dropdown-item.active,
.dropdown .dropdown-menu.dropdown-success .dropdown-item:active,
.dropdown .dropdown-menu.dropdown-success .dropdown-item:hover,
.dropleft .dropdown-menu.dropdown-success .dropdown-item.active,
.dropleft .dropdown-menu.dropdown-success .dropdown-item:active,
.dropleft .dropdown-menu.dropdown-success .dropdown-item:hover,
.dropright .dropdown-menu.dropdown-success .dropdown-item.active,
.dropright .dropdown-menu.dropdown-success .dropdown-item:active,
.dropright .dropdown-menu.dropdown-success .dropdown-item:hover,
.dropup .dropdown-menu.dropdown-success .dropdown-item.active,
.dropup .dropdown-menu.dropdown-success .dropdown-item:active,
.dropup .dropdown-menu.dropdown-success .dropdown-item:hover {
	background-color: #00c851!important;
	border-radius: .125rem;
	box-shadow: none
}

.dropdown .dropdown-menu.dropdown-success .dropdown-item.active.disabled,
.dropdown .dropdown-menu.dropdown-success .dropdown-item:active.disabled,
.dropdown .dropdown-menu.dropdown-success .dropdown-item:hover.disabled,
.dropleft .dropdown-menu.dropdown-success .dropdown-item.active.disabled,
.dropleft .dropdown-menu.dropdown-success .dropdown-item:active.disabled,
.dropleft .dropdown-menu.dropdown-success .dropdown-item:hover.disabled,
.dropright .dropdown-menu.dropdown-success .dropdown-item.active.disabled,
.dropright .dropdown-menu.dropdown-success .dropdown-item:active.disabled,
.dropright .dropdown-menu.dropdown-success .dropdown-item:hover.disabled,
.dropup .dropdown-menu.dropdown-success .dropdown-item.active.disabled,
.dropup .dropdown-menu.dropdown-success .dropdown-item:active.disabled,
.dropup .dropdown-menu.dropdown-success .dropdown-item:hover.disabled {
	background-color: transparent;
	box-shadow: none
}

.dropdown .dropdown-menu.dropdown-info .dropdown-item.active,
.dropdown .dropdown-menu.dropdown-info .dropdown-item:active,
.dropdown .dropdown-menu.dropdown-info .dropdown-item:hover,
.dropleft .dropdown-menu.dropdown-info .dropdown-item.active,
.dropleft .dropdown-menu.dropdown-info .dropdown-item:active,
.dropleft .dropdown-menu.dropdown-info .dropdown-item:hover,
.dropright .dropdown-menu.dropdown-info .dropdown-item.active,
.dropright .dropdown-menu.dropdown-info .dropdown-item:active,
.dropright .dropdown-menu.dropdown-info .dropdown-item:hover,
.dropup .dropdown-menu.dropdown-info .dropdown-item.active,
.dropup .dropdown-menu.dropdown-info .dropdown-item:active,
.dropup .dropdown-menu.dropdown-info .dropdown-item:hover {
	background-color: #33b5e5!important;
	border-radius: .125rem;
	box-shadow: none
}

.dropdown .dropdown-menu.dropdown-info .dropdown-item.active.disabled,
.dropdown .dropdown-menu.dropdown-info .dropdown-item:active.disabled,
.dropdown .dropdown-menu.dropdown-info .dropdown-item:hover.disabled,
.dropleft .dropdown-menu.dropdown-info .dropdown-item.active.disabled,
.dropleft .dropdown-menu.dropdown-info .dropdown-item:active.disabled,
.dropleft .dropdown-menu.dropdown-info .dropdown-item:hover.disabled,
.dropright .dropdown-menu.dropdown-info .dropdown-item.active.disabled,
.dropright .dropdown-menu.dropdown-info .dropdown-item:active.disabled,
.dropright .dropdown-menu.dropdown-info .dropdown-item:hover.disabled,
.dropup .dropdown-menu.dropdown-info .dropdown-item.active.disabled,
.dropup .dropdown-menu.dropdown-info .dropdown-item:active.disabled,
.dropup .dropdown-menu.dropdown-info .dropdown-item:hover.disabled {
	background-color: transparent;
	box-shadow: none
}

.dropdown .dropdown-menu.dropdown-warning .dropdown-item.active,
.dropdown .dropdown-menu.dropdown-warning .dropdown-item:active,
.dropdown .dropdown-menu.dropdown-warning .dropdown-item:hover,
.dropleft .dropdown-menu.dropdown-warning .dropdown-item.active,
.dropleft .dropdown-menu.dropdown-warning .dropdown-item:active,
.dropleft .dropdown-menu.dropdown-warning .dropdown-item:hover,
.dropright .dropdown-menu.dropdown-warning .dropdown-item.active,
.dropright .dropdown-menu.dropdown-warning .dropdown-item:active,
.dropright .dropdown-menu.dropdown-warning .dropdown-item:hover,
.dropup .dropdown-menu.dropdown-warning .dropdown-item.active,
.dropup .dropdown-menu.dropdown-warning .dropdown-item:active,
.dropup .dropdown-menu.dropdown-warning .dropdown-item:hover {
	background-color: #fb3!important;
	border-radius: .125rem;
	box-shadow: none
}

.dropdown .dropdown-menu.dropdown-warning .dropdown-item.active.disabled,
.dropdown .dropdown-menu.dropdown-warning .dropdown-item:active.disabled,
.dropdown .dropdown-menu.dropdown-warning .dropdown-item:hover.disabled,
.dropleft .dropdown-menu.dropdown-warning .dropdown-item.active.disabled,
.dropleft .dropdown-menu.dropdown-warning .dropdown-item:active.disabled,
.dropleft .dropdown-menu.dropdown-warning .dropdown-item:hover.disabled,
.dropright .dropdown-menu.dropdown-warning .dropdown-item.active.disabled,
.dropright .dropdown-menu.dropdown-warning .dropdown-item:active.disabled,
.dropright .dropdown-menu.dropdown-warning .dropdown-item:hover.disabled,
.dropup .dropdown-menu.dropdown-warning .dropdown-item.active.disabled,
.dropup .dropdown-menu.dropdown-warning .dropdown-item:active.disabled,
.dropup .dropdown-menu.dropdown-warning .dropdown-item:hover.disabled {
	background-color: transparent;
	box-shadow: none
}

.dropdown .dropdown-menu.dropdown-dark .dropdown-item.active,
.dropdown .dropdown-menu.dropdown-dark .dropdown-item:active,
.dropdown .dropdown-menu.dropdown-dark .dropdown-item:hover,
.dropleft .dropdown-menu.dropdown-dark .dropdown-item.active,
.dropleft .dropdown-menu.dropdown-dark .dropdown-item:active,
.dropleft .dropdown-menu.dropdown-dark .dropdown-item:hover,
.dropright .dropdown-menu.dropdown-dark .dropdown-item.active,
.dropright .dropdown-menu.dropdown-dark .dropdown-item:active,
.dropright .dropdown-menu.dropdown-dark .dropdown-item:hover,
.dropup .dropdown-menu.dropdown-dark .dropdown-item.active,
.dropup .dropdown-menu.dropdown-dark .dropdown-item:active,
.dropup .dropdown-menu.dropdown-dark .dropdown-item:hover {
	background-color: #2e2e2e!important;
	border-radius: .125rem;
	box-shadow: none
}

.dropdown .dropdown-menu.dropdown-dark .dropdown-item.active.disabled,
.dropdown .dropdown-menu.dropdown-dark .dropdown-item:active.disabled,
.dropdown .dropdown-menu.dropdown-dark .dropdown-item:hover.disabled,
.dropleft .dropdown-menu.dropdown-dark .dropdown-item.active.disabled,
.dropleft .dropdown-menu.dropdown-dark .dropdown-item:active.disabled,
.dropleft .dropdown-menu.dropdown-dark .dropdown-item:hover.disabled,
.dropright .dropdown-menu.dropdown-dark .dropdown-item.active.disabled,
.dropright .dropdown-menu.dropdown-dark .dropdown-item:active.disabled,
.dropright .dropdown-menu.dropdown-dark .dropdown-item:hover.disabled,
.dropup .dropdown-menu.dropdown-dark .dropdown-item.active.disabled,
.dropup .dropdown-menu.dropdown-dark .dropdown-item:active.disabled,
.dropup .dropdown-menu.dropdown-dark .dropdown-item:hover.disabled {
	background-color: transparent;
	box-shadow: none
}

.dropdown .dropdown-menu.dropdown-ins .dropdown-item.active,
.dropdown .dropdown-menu.dropdown-ins .dropdown-item:active,
.dropdown .dropdown-menu.dropdown-ins .dropdown-item:hover,
.dropleft .dropdown-menu.dropdown-ins .dropdown-item.active,
.dropleft .dropdown-menu.dropdown-ins .dropdown-item:active,
.dropleft .dropdown-menu.dropdown-ins .dropdown-item:hover,
.dropright .dropdown-menu.dropdown-ins .dropdown-item.active,
.dropright .dropdown-menu.dropdown-ins .dropdown-item:active,
.dropright .dropdown-menu.dropdown-ins .dropdown-item:hover,
.dropup .dropdown-menu.dropdown-ins .dropdown-item.active,
.dropup .dropdown-menu.dropdown-ins .dropdown-item:active,
.dropup .dropdown-menu.dropdown-ins .dropdown-item:hover {
	background-color: #2e5e86!important;
	border-radius: .125rem;
	box-shadow: none
}

.dropdown .dropdown-menu.dropdown-ins .dropdown-item.active.disabled,
.dropdown .dropdown-menu.dropdown-ins .dropdown-item:active.disabled,
.dropdown .dropdown-menu.dropdown-ins .dropdown-item:hover.disabled,
.dropleft .dropdown-menu.dropdown-ins .dropdown-item.active.disabled,
.dropleft .dropdown-menu.dropdown-ins .dropdown-item:active.disabled,
.dropleft .dropdown-menu.dropdown-ins .dropdown-item:hover.disabled,
.dropright .dropdown-menu.dropdown-ins .dropdown-item.active.disabled,
.dropright .dropdown-menu.dropdown-ins .dropdown-item:active.disabled,
.dropright .dropdown-menu.dropdown-ins .dropdown-item:hover.disabled,
.dropup .dropdown-menu.dropdown-ins .dropdown-item.active.disabled,
.dropup .dropdown-menu.dropdown-ins .dropdown-item:active.disabled,
.dropup .dropdown-menu.dropdown-ins .dropdown-item:hover.disabled {
	background-color: transparent;
	box-shadow: none
}

.dropdown .dropdown-menu .dropdown-item,
.dropleft .dropdown-menu .dropdown-item,
.dropright .dropdown-menu .dropdown-item,
.dropup .dropdown-menu .dropdown-item {
	padding: .5rem;
	margin-left: 0;
	font-size: .9rem
}

.dropdown .dropdown-menu .dropdown-item.disabled,
.dropleft .dropdown-menu .dropdown-item.disabled,
.dropright .dropdown-menu .dropdown-item.disabled,
.dropup .dropdown-menu .dropdown-item.disabled {
	color: #868e96
}

.dropdown .dropdown-menu .dropdown-item.disabled:active,
.dropdown .dropdown-menu .dropdown-item.disabled:focus,
.dropdown .dropdown-menu .dropdown-item.disabled:hover,
.dropleft .dropdown-menu .dropdown-item.disabled:active,
.dropleft .dropdown-menu .dropdown-item.disabled:focus,
.dropleft .dropdown-menu .dropdown-item.disabled:hover,
.dropright .dropdown-menu .dropdown-item.disabled:active,
.dropright .dropdown-menu .dropdown-item.disabled:focus,
.dropright .dropdown-menu .dropdown-item.disabled:hover,
.dropup .dropdown-menu .dropdown-item.disabled:active,
.dropup .dropdown-menu .dropdown-item.disabled:focus,
.dropup .dropdown-menu .dropdown-item.disabled:hover {
	color: #868e96!important;
	background-color: transparent!important;
	box-shadow: none
}

.dropdown .dropdown-menu .dropdown-item:active,
.dropdown .dropdown-menu .dropdown-item:hover,
.dropleft .dropdown-menu .dropdown-item:active,
.dropleft .dropdown-menu .dropdown-item:hover,
.dropright .dropdown-menu .dropdown-item:active,
.dropright .dropdown-menu .dropdown-item:hover,
.dropup .dropdown-menu .dropdown-item:active,
.dropup .dropdown-menu .dropdown-item:hover {
	background-color: #4285f4;
	border-radius: .125rem;
	box-shadow: none;
	transition: all .1s linear
}
.dropdown-menu i {
	font-size: 22px;
	/*position: absolute;
	left: 0;*/
}

.showmenu2 {
    display: block;
    background: none;
    width: 42px;
    height: 42px;
    padding: 0px;
    position: absolute;
    top: 3px;
    right: 0px;
    border-radius:  3px 0 0 3px;
    border-left: 0px solid #0965c1;
    border-bottom: 0px solid #0965c1;
    border-top: 0px solid #0965c1;
    text-align: center;
    line-height: 42px;
    color: #0965c1;
    z-index: 999999;
    
}
.showmenu2 i {
	font-size: 22px;
	color: #fff !important;
}
.themenu2 {
    position: relative;
    background: #fff;
    border-top: 2px solid #0965c1;
    width: 100%;
    height: auto;
    padding: 15px 0px;
    
}
.themenu2 .pt-tab {
	width: 33% !important;
}
.helper-visible2 {
    top: 0px !important;
    transition: top 300ms;
}
.pt-button.pt-intent-primary:hover {
    box-shadow: none;
    background-color: #f7a42c !important;
    background-image: none;
    color: #ffffff;
}
.btn-primary:hover {
    color: #fff;
    background-color: #f7a42c;
    border-color: #f7a42c;
}
.helper-menu2 {
    position: fixed;
    top: -120px;
    right: 0;
    width: 100%;
    height: 120px;
    transition: top 300ms;
    z-index: 99999999;
}
.label-nested {
	background: #fff !important;
	margin-bottom: -11px;
	float: left;
	margin-left: 15px;
	font-size: 12px;
	padding: 0 10px;
	margin-top: 10px;
}
.label-nested.active {
	background: #fff !important;
}
.noshow {
	position: relative;
}
.closebox {
    float: none;
    position: absolute;
    right: 10px;
    top: 10px;
}
.modal {
    z-index: 1111 !important;
}
.lower {
	text-transform: none !important;
	font-size: 16px !important;
}
.settings-bar {
	background:#222;
	color: #eee;
}
.settings-bar a {
	padding: 2px 5px;
	border-radius: 3px;
}
.red {
	background: #e2f2fb;
	color: #222 !important;
}
.chart-sub-title {
	font-weight: normal;
	line-height: 18px;
	font-size: 14px;
	color:#666;
	margin-bottom: 3px;
}
.chart-sub-subtitle {
	color: #666;
	font-size: 14px;
	line-height: 18px !important;
	margin-bottom: 5px;
}
.timeperiod {
	display: block;
	margin-bottom: 9px;
	cursor: move;
	background: #0965c1 !important;
	color: #fff;
	line-height: 30px;
	font-size: 12px;
}
html, body {
    background: #fff !important;
}
span.pt-icon-standard {
    font-size: inherit !important;
}
.pt-tree-node-content {
	padding: 0px !important;
}
.pt-tree-node-label {
	padding:3px 2px !important;
}
.pt-tree-node-secondary-label {
	border-left: 1px solid #888;
	padding-left: 10px;
}
.pt-tree-node.pt-active {
	background: none !important;
}
.pt-active .pt-tree-node-label {
    background-color: #e2f2fb;
}
.pt-tree-node-label:hover {
    background-color: #e2f2fb;
}
.pt-tree-node-secondary-label:hover {
	background-color: #0965c1;
	color: #fff;
}
.pt-tree-node-content:hover {
    background-color: transparent;
}
.pt-tree-node-label .pt-text-muted {
    color: #444 !important;
}

/*.pt-tree-node {
	border-bottom: 1px solid #fff;
}
.pt-active {
	background-color: #e2f2fb;
}
.pt-active .pt-tree-node-content {
    color: ;
    padding-left: 3px;
    cursor: pointer;
}
.pt-active .pt-tree-node-content .pt-text-muted {
    color: #666;
}
.pt-tree-node-caret-none {
    position: relative;
    min-width: 18px;
    line-height: 30px !important;
}
.pt-tree-node:hover .pt-tree-node-content {
	background-color: #e2f2fb;
	color: #0965c1;
}
.pt-tree-node:hover .pt-tree-node-content .pt-text-muted {
	color: #666;
}
.pt-active.pt-tree-node:hover .pt-tree-node-content {
	background-color: #b7def6;
}
.pt-active-default {
	background: #f7a42c;
	color: #fff;
}
.pt-active-default .pt-tree-node-content {
	color: #fff !important;
}*/



.badge {
    position: absolute;
    right: 0px;
}

.showme {
	box-shadow: inset -1px 0 0 #f7a42c, inset 0 -1px 0 #f7a42c, inset 1px 0 0 #f7a42c, inset 0 1px 0 #f7a42c !important;
}
.showme.facet {
	border: 1px solid #f7a42c !important;
}
.showme.pt-button {
	box-shadow: inset -1px 0 0 #f7a42c, inset 0 -1px 0 #f7a42c, inset 1px 0 0 #f7a42c, inset 0 1px 0 #f7a42c !important;
}
.showme.pt-input {
	border:none !important;
}
.pt-navbar-heading .showme {
	box-shadow: none !important;
}
.pt-navbar-heading .showme img {
	border: 1px solid #f7a42c;
}
a.invisibles {
	color: inherit !important;
	display: flex;
	width: 100%;
}
.bigform .pt-button.pt-intent-primary:hover {
    background-color: #e2f2fb!important;
    color: #182026 !important;
}
.noshow li {
    padding: 0px !important;
}
.noshow li a {
    padding: 10px;
}
/*:focus {
	outline: red solid 1px;
  	outline: 0 none;
  	box-shadow: inset -1px 0 0 #f7a42c, inset 0 -1px 0 #f7a42c, inset 1px 0 0 #f7a42c, inset 0 1px 0 #f7a42c;
}
.btn.btn-link.collapse-btn.dd-btn:focus {
    outline: 1px solid red;
    box-shadow: inset -1px 0 0 #f7a42c, inset 0 -1px 0 #f7a42c, inset 1px 0 0 #f7a42c, inset 0 1px 0 #f7a42c;
}

.pt-button.pt-intent-primary:focus {
    background-color: #e2f2fb!important;
    color: #182026 !important;
    outline: 0 none;
    box-shadow: inset -1px 0 0 #f7a42c, inset 0 -1px 0 #f7a42c, inset 1px 0 0 #f7a42c, inset 0 1px 0 #f7a42c;
}
.pt-button.pt-minimal:focus {
    outline: 0 none;
    box-shadow: inset -1px 0 0 #f7a42c, inset 0 -1px 0 #f7a42c, inset 1px 0 0 #f7a42c, inset 0 1px 0 #f7a42c !important;
}

.noshow li a:focus {
    outline: red solid 1px;
    outline: 0 none;
    box-shadow: inset -1px 0 0 #f7a42c, inset 0 -1px 0 #f7a42c, inset 1px 0 0 #f7a42c, inset 0 1px 0 #f7a42c;
}

.facet:focus {
	border: 1px solid #f7a42c;
}
.btn-link.focus,
.btn-link:focus,
.btn-primary.focus,
.btn-primary:focus,
.pt-button:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  /*border-color: red;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(126, 239, 104, 0.6);
  outline: 0 none;
  box-shadow: inset -1px 0 0 #f7a42c, inset 0 -1px 0 #f7a42c, inset 1px 0 0 #f7a42c, inset 0 1px 0 #f7a42c;
}
.form-control:focus{/*border-color: red;  box-shadow: inset -1px 0 0 #f7a42c, inset 0 -1px 0 #f7a42c, inset 1px 0 0 #f7a42c, inset 0 1px 0 #f7a42c;} 
.has-error .form-control:focus{box-shadow: inset -1px 0 0 #f7a42c, inset 0 -1px 0 #f7a42c, inset 1px 0 0 #f7a42c, inset 0 1px 0 #f7a42c;}
*/

.input-group-addon {
    padding: 8px 5px 0px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    border-width: 1px 0px 1px 1px;
}
.input-group .form-control {
    font-size: 14px;
    line-height: 22px;
    padding: 6px 2px 8px 0;
    border-left: 0px;
}
.access, .account {
	color: #0965c1;
	cursor: pointer;
}
.access .pt-icon-standard.active, .account .pt-icon-standard.active {
	background: none !important;
	color: #0965c1;
}
@media (min-width: 1280px) {
.bp-container {
    max-width: 1240px !important;
    width: 1240px !important;
}
}
a.pt-breadcrumb {
	color: #0549ab !important;
}
a.pt-breadcrumb:hover {
	color: #0e90e0 !important;
}