
.icon-asterisk:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-glyph:before { content: '\f301'; } /* '' */
.icon-glyph-1:before { content: '\f302'; } /* '' */
.icon-glyph-2:before { content: '\f303'; } /* '' */
.icon-glyph-3:before { content: '\f304'; } /* '' */
.icon-glyph-5:before { content: '\f305'; } /* '' */
.icon-glyph-4:before { content: '\f306'; } /* '' */
.icon-glyph-6:before { content: '\f307'; } /* '' */
.icon-glyph-7:before { content: '\f308'; } /* '' */
.icon-glyph-10:before { content: '\f309'; } /* '' */
.icon-glyph-9:before { content: '\f310'; } /* '' */
.icon-glyph-11:before { content: '\f311'; } /* '' */
.icon-glyph-8:before { content: '\f312'; } /* '' */