.hummingbird-treeview,
.hummingbird-treeview *
{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.hummingbird-treeview li {
    min-height: 30px;
    line-height: 30px;
    width: 100%;
}
.hummingbird-treeview label {
    font-weight: normal;
    width: calc(100%);
    display: inline-block;
    height: 30px;
}


.hummingbird-treeview input[type=checkbox] {
    width : 22px;
    height :16px;
    padding: 0px;
    margin: 0px;
}

.hummingbird-treeview ul:not(.hummingbird-base) {
    display: none;
    padding-left: 19px;
}

.hummingbird-treeview .pt-icon-standard {
    font-style: normal;
    cursor: pointer;
}

.hummingbird-base {
    white-space:nowrap;
}
.pt-tree-node-caret-none {
    min-width: 15px;
}

.hummingbird-treeview label span {
    font-weight: normal;
    display: inline-block;
    color: #2973bd;
    height: 30px;
    width: 100%;
}
.hummingbird-treeview label:hover {
    background: #e5ecf0;
}
.pt-active-1 {
	background-color: #e5ecf0;
}
.pt-active-2 {
	background: #d6f4d4;
}
.default, .hummingbird-treeview label.default:hover {
	background: #f7a42c;
}
.default span {
	color: #fff !important;
}
small.pt-text-muted {
	color: #ccc !important;
}