	<div id="sidedrawer-brand" class="pt-3">
		<h5 class="pt-1">UI documentation</h5>
	</div>
	<div class="mui-divider"></div>
	<ul>
		<li>
			<strong>Core</strong>
			<ul class="ml-2">
				<li><a class="scroll-link" href="buttons.html">Buttons & Inputs</a></li>
				<li><a class="scroll-link" href="colors.html">Colors</a></li>
				<li><a class="scroll-link" href="icons.html">Icons</a></li>
				<li><a class="scroll-link" href="fonts.html">Typography</a></li>
			</ul>
		</li>
		<li>
			<strong>Content, layout</strong>
			<ul class="ml-2">
				<li><a class="scroll-link" href="grids.html">Grids</a></li>
				<li><a class="scroll-link" href="grids-use.html">Grid usage</a></li>
			</ul>
		</li>
		<li>
			<strong>Components</strong>
			<ul class="ml-2">
				<li><a class="scroll-link" href="header.html">Header</a></li>
				<li><a class="scroll-link" href="home.html">Home screen</a></li>
				<li><a class="scroll-link" href="search-bar.html">Search bar</a></li>
				<li><a class="scroll-link" href="filters.html">Filters</a></li>
				<li><a class="scroll-link" href="results.html">Search results</a></li>
				<li><a class="scroll-link" href="pagination.html">Pagination / Breadcrumb</a></li>
				<li><a class="scroll-link" href="action-nav.html">Action menu</a></li>
				<li>Action box</li>
				<li><a class="scroll-link" href="action-box-main.html" style="margin-left: 20px;">General</a></li>
				<li><a class="scroll-link" href="action-box.html" style="margin-left: 20px;">Table view</a></li>
				<li><a class="scroll-link" href="action-box-chart.html" style="margin-left: 20px;">Chart view</a></li>
				<li>Table</li>
				<li><a class="scroll-link" href="tables.html" style="margin-left: 20px;">General</a></li>
				<li><a class="scroll-link" href="tables-microdata.html" style="margin-left: 20px;">Microdata</a></li>
				<li><a class="scroll-link" href="tooltips.html">Tooltips</a></li>
				<li><a class="scroll-link" href="informations.html">Information</a></li>
				<li><a class="scroll-link" href="notification.html">Notifications</a></li>
				<li><a class="scroll-link" href="unsupported.html">Browser support</a></li>
				<li><a class="scroll-link" href="footer.html">Footer</a></li>
			</ul>
		</li>
	</ul>