
.icon-bar:before { content: '\e80e'; } /* '' */
.icon-row:before { content: '\e80f'; } /* '' */
.icon-hsymbol2:before { content: '\e814'; } /* '' */
.icon-vsymbol2:before { content: '\e815'; } /* '' */
.icon-scatter2:before { content: '\e816'; } /* '' */
.icon-timeline2:before { content: '\e818'; } /* '' */