html, body {
	font-family: 'Open Sans', arial, sans-serif;
	height: 100%;
	color: #727272;
	font-weight: 400;
}
html {
	position: relative;
	min-height: 100%;
}
body {
	background: #f5f5f5;
}

/* --- MAIN ---*/

a, a:hover {
	color: #006699;
}
h1 {
	margin: 5px 0 5px 0;
	font-weight: 300;
	font-size: 22px;
}
.page-header.row {
	margin: 0 -15px;
}
.actions-row {
	margin-top: 10px;
}
.actions-row label {
	padding: 6px 0;
}
.block {
	display:block;
}
nav {
	z-index:1000;
}
input[readonly] {
	background-color: white !important;
	cursor: text !important;
}
.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.badge {
	display: inline;
	font-size: 6px;
	border-radius: 4px;
	padding: 2px 5px;
}
.pending, .text-pending {
	color: #e67e22;
}
.approved, .text-success {
	color: #27ae60;
}
.text-danger {
	color: #c0392b !important;
}
.margin-top20 {
	margin-top: 20px;
}
.panel-body {
	padding: 15px 15px 25px 15px;
}
.pagination {
	margin: 0;
	border-radius: 0px;
}
.edited div{
	background: #deebf7 !important;
}
.cr {
	vertical-align: middle !important;
}
.cr-info {
	margin-left: 5px;
}
body > .container-fluid {
	padding:0px 15px 0;
}
.container .text-muted {
	margin: 20px 0;
	color: #49a1f0;
}
.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}
.jumbotron {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	color: inherit;
	background-color: #f7f7f7;
	border-radius:0;
}
.page-header {
	padding-bottom: 9px;
	margin: 0px 0 10px;
	border-bottom: 1px solid #eee;
}

/* --- NAVIGATION ---*/

.main-menu {
	background-color: #6b6b6b;
	height: 90px;
	margin-bottom: 10px;
}
.main-menu .nav-pills a {
	height: 90px;
	color: #ffffff;
	font-size: 13px;
	font-weight: 300;
	padding-top: 20px;
}
.main-menu .nav-pills a:hover {
	color: #6b6b6b;
}
.main-menu .nav-pills .dropdown-menu a {
	height: auto;
	color: #333;
	font-size: 15px;
	font-weight: 400;
	padding: 3px 20px;
}
.main-menu .nav-pills .dropdown-menu {
	border-radius:0;
	width: 100%;
}
.main-menu i {
	display: block;
	font-size: 20px;
	margin-bottom: 5px;
}
@media (max-width: 992px) {
	.main-menu i {
		font-size: 20px;
		margin-bottom: 5px;
	}
	.main-menu .nav-pills a {
		font-size: 13px;
	}
}
@media (max-width: 767px) {
	h1 {
		margin-bottom: 15px;
	}
	.page-header .btn,
	.page-header .btn-group,
	.footer-row .btn,
	.footer-row .btn-group {
		display: block;
		width: 100%;
		float: none;
		text-align: left;
	}
	.actions-row .text-right {
		text-align: left;
	}
}
.nav-pills>li>a {
	border-radius: 0px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: #fff;
	background: #7c7c7c url(../images/arrow.png) no-repeat 50% -10px;
}
.navbar-default .navbar-nav>li>a {
	color: #006699;
}
.navbar-default {
	background-color: #fff;
	border-color: #E7E7E7;
	border: none;
}
.nav-container {
	margin-bottom: 2em;
	position: absolute;
	top: -200px;
}
.navbar h2 {
	font-size: 18px;
	float: left;
	font-weight: 300;
}
.navbar-toggle {
	
}

.navbar {
	margin-bottom: 0px;
	max-height: 50px;
	position: relative;
	/*line-height:80px;*/
}
.navbar .btn {
	margin-bottom: 0px;
}
.navbar-text {
	margin-bottom: 10px;
	margin-top: 15px;
}
.navbar-brand {
	float: left;
	height: 50px;
	padding: 0px 15px;
	font-size: 18px;
	line-height: 20px;
}
@media (max-width: 767px) {
	.navbar {
		max-height: none;
	}
	.navbar-collapse {
		background: #6b6b6b;
		color: #ccc;
	}
	.navbar-collapse a {
		color:#ffffff !important;
		text-align: left !important;
	}
	.navbar-collapse .dropdown.open {
		background:#888;
	}
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
		background-color: #aaa;
	}
	#main {
		padding-top: 20px;
	}
}
#menu .dropdown-menu li:hover .sub-menu {
	visibility: visible;
}

#menu .dropdown:hover .dropdown-menu {
	display: block;
}

#menu .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
	margin-top: 0;
}
.steps a {
	font-size: 11px;
	padding:0;
	margin:0;
}
.navbar.steps {
	position: relative;
	min-height: 20px;
	margin-bottom: 0px;
	border: 1px solid transparent;
}
.sticky {
	position: fixed;
	top: 15px;
	width: 100%;
	animation:thedrop 1s 1;
	-moz-animation:thedrop 1s 1;
	-webkit-animation:thedrop 1s 1;
	background: #fff;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
	min-height: 41px;
}
.user {
	padding: 15px 15px 0px 15px;
}
.sidebar .nav>li>a {
	padding: 8px 8px 8px 15px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}
.sidebar .nav-stacked>li+li {
	margin-top: 0;
	margin-left: 0;
}

/* --- BUTTONS ---*/

.btn {
	border-radius:0;
	border:0;
	color: #ffffff;
	padding: 6px 20px 7px 20px;
	margin-bottom: 5px;
}
.btn-select .btn {
	padding: 7px 20px;
}
.btn:hover {
	color:#ffffff;
}
.btn-default {
	background: #0871b5;
}
.btn-default:hover {
	background: #07629e;
}
.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
	background:#ccc;
	color: #555;
}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
	background:#ccc;
	color: #555;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	color: #aaa;
}
.btn-primary {
	background: #94be08;
}
.btn-primary:hover {
	background: #81a507;
}
.btn-edit { 
  color: #2971BD; 
  background-color: #ADCBE7; 
  border-color: #ADCBE7; 
} 
 
.btn-edit:hover, 
.btn-edit:focus, 
.btn-edit:active, 
.btn-edit.active, 
.open .dropdown-toggle.btn-edit { 
  color: #2971BD; 
  background-color: #D4D4D4; 
  border-color: #ADCBE7; 
} 
 
.btn-edit:active, 
.btn-edit.active, 
.open .dropdown-toggle.btn-edit { 
  background-image: none; 
} 
 
.btn-edit.disabled, 
.btn-edit[disabled], 
fieldset[disabled] .btn-edit, 
.btn-edit.disabled:hover, 
.btn-edit[disabled]:hover, 
fieldset[disabled] .btn-edit:hover, 
.btn-edit.disabled:focus, 
.btn-edit[disabled]:focus, 
fieldset[disabled] .btn-edit:focus, 
.btn-edit.disabled:active, 
.btn-edit[disabled]:active, 
fieldset[disabled] .btn-edit:active, 
.btn-edit.disabled.active, 
.btn-edit[disabled].active, 
fieldset[disabled] .btn-edit.active { 
  background-color: #ADCBE7; 
  border-color: #ADCBE7; 
} 
 
.btn-edit .badge { 
  color: #ADCBE7; 
  background-color: #2971BD; 
}
.btn-info {
	background: #adcbe7;
	color: #2971bd;
}
.btn-link , .btn-link:hover {
	
}
.stat-btn {
	background: #adcbe7;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 26px;
	color: #2971bd;
}
.stat-btn.inactive {
	background: #dedede;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 26px;
	color: #bbb !important;
}
.btn-default.stat-btn {
	width: 45px;
	height: 25px;
	text-align: center;
	line-height: 5px;
	color: #2971bd;
	padding:0;
}
.btn-primary .fa, .btn-default .fa, .glyphicon {
	padding-right: 10px;
}
.fa.stat-btn, .stat-btn .fa, #top .fa {
	padding-right:0;
}
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}
#top {
	bottom: 15px;
	cursor: pointer;
	position: fixed;
	right: 15px;
	z-index: 9999;
	padding:5px 10px;
}

/* --- INPUTS --- */

.form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	color: #555;
	background-color: #f9f8f5;
	background-image: none;
	border-top: 1px solid #9e9d9c;
	border-right: 1px solid #dad9d8;
	border-left: 1px solid #a7a6a5;
	border-bottom: 1px solid #dad9d8;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
.form-control:focus {
	border-top: 1px solid #9e9d9c;
	border-right: 1px solid #dad9d8;
	border-left: 1px solid #a7a6a5;
	border-bottom: 1px solid #dad9d8;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.js-dynamitable .form-control.input-sm {
	/*padding: 0 5px;*/
}

.reason {
	display: table-cell;
	padding: 0 15px;
	vertical-align: center;
}
.reason label {
	margin: 0 1px 0 0;
	overflow: auto;
	padding: 0;
}
.reason label span {
	text-align: center;
	padding:10px 20px 10px 40px;
	display: inline-block;
	background: url(../images/fa-circle-o.png) no-repeat 14px 12px;
}
.reason label input {
	position: absolute;
	top: -4400px;
}
.reason input:checked + span {
	background:#adcbe7 url(../images/fa-check-circle.png) no-repeat 14px 12px;
	color:#0871b5;
}
.reason .active {
	background-color:#e7e7e7;
	color:#0871b5;
	cursor: pointer;
}
.reason .active input[disabled] + span{
	background-color:#e7e7e7;
	color:#9d9d9d;
	cursor: default;
}
.reason h2 {
	padding: 0;
	margin:0 0 20px 0;
	font-size: 20px;
}

/* --- MODAL ---*/

.modal-body.tabs {
	padding:0;
}
.modal-body .nav-tabs {
	padding: 20px 0 0 0;
}
.modal-body .nav-tabs > li:first-child {
	margin-left: 25px;
}
.modal-body .tab-content {
	padding: 15px 25px;
}
.modal-content {
	border-radius: 0;
}
.modal-header {
	min-height: 16.43px;
	padding: 15px 25px;
	border-bottom: none;
	background: #353535;
	color: #ffffff;
}
.modal-body, .modal-footer {
	padding: 15px 25px;
}
.close {
	filter: alpha(opacity=40);
	opacity: .4;
}
.close:hover {
	filter: alpha(opacity=60);
	opacity: .6;
}
.close-modal {
	width: 16px;
	height: 16px;
	display: block;
	background: url(../images/close.png) no-repeat;
	margin-top: 5px;
}

/* --- TREE --- */

.tree-container {
	padding: 2px 1px 2px 4px;
	background: #f9f8f5;
	border-top: 1px solid #9e9d9c;
	border-right: 1px solid #dad9d8;
	border-left: 1px solid #a7a6a5;
	border-bottom: 1px solid #dad9d8;
	margin-bottom: 20px;
}
.tree-container ul {
	padding:0;
	margin:0;
}
.tree-container li {
	list-style: none;
}
.tree-container #sTree1 li {
	cursor: move;
}
.tree-container ul:last-child li:hover{
	background: #eee;
}
.bgC2 {
	background: #adcbe7;
}
.scrollUp {
	position:fixed;
	top:0;
	left:0;
	height:48px;
	width:50px;
	border:1px solid red;
}
.scrollDown {
	position:fixed;
	bottom:0;
	left:0;
	height:48px;
	width:50px;
	border:1px solid red;
}
.sortableListsClose ul, .sortableListsClose ol {
	display:none;
}
.green {
	background:none;
	list-style: none;
	color: #0871b5;
}
.pV10 {
	padding-top:10px;
	padding-bottom:10px;
}
.dN {
	display:none;
}
.zI1000 {
	z-index:1000;
}

ul.sTree li, #sortableListsBase li {
	padding-left: 38px;
	margin: 3px 3px 3px 0;
	border: 1px solid #ddd;
}
ul.sTree .dropdown-menu li, #sortableListsBase li {
	padding-left: 0px;
	margin: 3px 3px 3px 0;
	border: 0px solid #ddd;
}
#sortableListsBase li {
	border: 1px solid #0871b5;
}
#sortableListsBase li {
	padding: 7px 7px 7px 38px;
}
ul.sTree {
	
}
ul.sTree li {
	background: #fff;
	position: relative;
}
ul.sTree li div {
	padding: 5px 6px 6px 56px;
	background-color: #eee;
	margin: 1px;
	position: relative;
}
ul.sTree li div.btn-group {
	padding: 0;
	display: inline-block;
	left:2px;
	position: absolute;
	top:2px;
}
ul.sTree li div:hover {
	background: #ddd;
}

/* --- SYSTEM NOTIFICATION ---*/

.badge.notification {
	background: red;
	font-size: 10px;
	padding: 2px 5px;
	position: absolute;
	top:15px;
	left:23px;
}
.message {
	color: red;
	text-decoration: none;
	position: relative;
}
.notifyjs-alert-message-base {
	white-space: nowrap;
	background-color: #f2dede;
	padding: 15px 40px 25px 15px;
	border: 1px solid #ebccd1;
	border-right: 10px solid #ebccd1;
	color: #ff0000;
	border-radius: 4px 0px 0px 4px;
	/*margin: 20px 20px 60px 20px;*/
	width: 100%;
}
.notifyjs-alert-message-base h2 {
	padding:0 0 10px 0;
	margin:0 0 10px 0;
	border-bottom: 1px solid #f37e7e;
	font-size: 20px;
}

.sidebar .glyphicon, .sidebar .fa { margin-right:10px; }
.sidebar .panel-body { padding:0px; }
.sidebar .panel-body table tr td { padding-left: 15px }
.sidebar .panel-body .table {margin-bottom: 0px; }
.form-control-static.box {
	background: #fff;
	padding: 7px 10px;
	border: 1px solid #ddd;
}
.form-control-static.box.highlight {
	font-weight: bold;
	background: #d9edf7;
	border: 1px solid #bce8f1;
	color: #31708f;
}
.main .panel-body {
	background: #fff;
}
.panel-heading .accordion-toggle:after{
	font-family: 'FontAwesome';
	content: "\f077";	
	float: right;
}
.panel-heading .accordion-toggle.collapsed:after {	
	content: "\f078";	
}

/* --- TOOLTIP --- */

.info-tooltip-content {
	position: absolute;
	left: 0;
	top: 0;
	height: 1px;
	width: 1px;
	min-width: 0;
	min-height: 0;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
}
.info-tooltip:hover .info-tooltip-content,
.info-tooltip:focus .info-tooltip-content {
	position: static;
	left: auto;
	top: auto;
	width: auto;
	height: auto;
	overflow: visible;
	clip: auto;
}
.info-tooltip {
	position: relative;
	display: inline-block;
	color: #78869f;
	cursor: pointer;
	float: right;
}
.info-tooltip p,
.info-tooltip ul,
.info-tooltip ol {
	margin: 0;
}
.info-tooltip a,
.info-tooltip a:hover {
	color: #5fbcf5;
}
.info-tooltip li {
	list-style: none;
	padding-left: 10px;
	text-indent: -10px;
}
.info-tooltip-content {
	z-index: 201;
	opacity: 0;
	-webkit-transition: opacity 250ms ease;
	transition: opacity 250ms ease;
	margin: 0;
	border-radius: 2px;
	padding: 10px 11px;
	background-color: #494444;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 17px;
	color: white;
}
.info-tooltip:hover .info-tooltip-content,
.info-tooltip:focus .info-tooltip-content {
	opacity: 1;
	position: absolute;
	right: 0;
	top: 24px;
	width: 280px;
}
.info-tooltip:focus {
	outline: 0;
}
.info-tooltip:focus .info-tooltip-content {
	box-shadow: 0 0 4px rgba(11, 113, 176, 0.9);
}
.info-tooltip-right:hover .info-tooltip-content {
	left: auto;
	right: 0;
}
.info-tooltip-top:hover .info-tooltip-content,
.info-tooltip-top:focus .info-tooltip-content {
	top: auto;
	bottom: 100%;
}
.info-tooltip .tooltip-icon {
	background: #81d0f8;
	padding: 0px 10px;
	border-radius: 2px;
	border: 1px solid #4cb3e7;
	color: #fff;
}
.uppercase {
	text-transform: uppercase;
}
/* --- SELECT 2 ---*/

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #444;
	line-height: 32px;
	background: #f9f8f5;
}
.select2-container--default .select2-selection--single {
	border-top: 1px solid #9e9d9c;
	border-right: 1px solid #dad9d8;
	border-left: 1px solid #a7a6a5;
	border-bottom: 1px solid #dad9d8;
	border-radius: 0px;
	margin-bottom: 5px;
}
.select2-container {
	width: 100% !important;
}
.requirements {
	padding: 5px 20px;
}
.table tr.selected, .table tr.selected:hover {
	background: #adcbe7 !important;
}
.modal-footer .btn+.btn {
	margin-bottom: 5px;
	margin-left: 5px;
}

/* --- MULTISELECT --- */

.multiselect-container {
	width:100%;
}